footer,
.advance,
.about,
.skills,
.contact {
    display: none;
}

@media (max-width: 1045px) {
    .hero__title {
        font-size: 40px;
        line-height: 48px;
    }

    .hero__description {
        font-size: 20px;
        line-height: 35px;
    }

    .hero__image {
        width: 425px;
        height: 399px;

        margin: 60px 77px 0 0 ;
    }
}

@media (max-width: 1017px) {
    .hero__image {
        margin: 60px 40px 0 0 ;
    }
}

@media (max-width: 978px) {

    .hero__buttons {
        margin-bottom: 133px;
    }

    .hero__image {
        width: 395px;
        height: 380px;
    }
}

@media (max-width: 800px) {
    body {
        overflow: hidden;
    }

    .burger {
        display: block;
    }

    .menu {
        position: fixed;
        left: -350px;
        top: 0;
        z-index: 30;

        width: 350px;
        height: 100%;
        padding: 39px 100px 100px;
        flex-direction: column;
        background-color: #5e3aee;

        transition: transform 0.3s;
    }

    .menu__item {
        padding-bottom: 50px;
    }

    .menu__link {
        font-size: 30px;
        line-height: 39px;
        color: white;
    }

    .menu__link-active {
        font-weight: 500;
        text-decoration: underline;
    }

    .header__content.header__content-open .menu {
        transform: translateX(350px);
    }
}
